@value color-grey, color-black from "vars.css";
.root {
  width: 700px;
  margin: 0 auto;
  text-align: center;
}

.title b {
  font-weight: bold;
}

.description {
  font-size: 150%;
}

.userpic {
  display: inline-block;
  margin-top: -151px;
}

.throne {
  background: url("./throne.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  height: 300px;
  margin-top: 200px;
}

.username {
  color: color-grey;
  text-align: center;
}

.aboutpage {
  text-align: right;
  float: right;
  color: color-black;
}

.aboutpage:hover {
  text-decoration: none;
}

.content {
  margin-top: 60px;
  padding: 20px;
  border: 1px solid;
  border-radius: 5px;
}

.score {
  display: inline-block;
}
