@value color-green, color-yellow from "vars.css";

.root {
  display: block;
}

.root em {
  background: color-yellow;
  cursor: help;
}

.content {
  width: 100vw;
  height: 100vh;
}

.help {
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 10px;
  max-width: 200px;
  border: 1px solid color-green;
  border-radius: 5px;
}
